
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hi <b>@Context.User.Identity.Name</b></h2>

<br />

<div id="divUserListContainer">
    @Html.Action("RequestRide", "Account");
</div> 